@page
@model BookInfoFinder.Pages.DebugSessionModel
@{
    ViewData["Title"] = "Debug Session";
}

<div class="container mt-4">
    <h2>Debug Session & Cookies</h2>
    
    <div class="row">
        <div class="col-12">
            <button id="loadSessionInfo" class="btn btn-primary mb-3">Load Session Info</button>
            <div id="sessionInfo"></div>
        </div>
    </div>
</div>

@section Scripts {
<script>
$(document).ready(function() {
    $('#loadSessionInfo').click(function() {
        $.get('/DebugSession?handler=SessionInfo')
            .done(function(data) {
                console.log('Session Debug Info:', data);
                
                const html = `
                    <div class="card">
                        <div class="card-header">
                            <h5>Session Information</h5>
                        </div>
                        <div class="card-body">
                            <h6>Session:</h6>
                            <pre>${JSON.stringify(data.session, null, 2)}</pre>
                            
                            <h6>Cookies:</h6>
                            <pre>${JSON.stringify(data.cookies, null, 2)}</pre>
                            
                            <h6>Request Info:</h6>
                            <pre>${JSON.stringify(data.request, null, 2)}</pre>
                        </div>
                    </div>
                `;
                
                $('#sessionInfo').html(html);
            })
            .fail(function(xhr, status, error) {
                $('#sessionInfo').html(`
                    <div class="alert alert-danger">
                        Error: ${error}
                        <br>Response: ${xhr.responseText}
                    </div>
                `);
            });
    });
});
</script>
}